.h1{
  text-align: center;
}
.li{

  text-align: center;
}
.app {
  text-align: center;
  /* width: 350px; */
  min-height: 10px;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 5px 10px black;
  display: flex;
}

.b2{
  text-align:left;

}

body {
  background-image: url('blueBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* min-height: 30vh; */
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 90%;
  position: center;
}

.question-count {
  margin-bottom: 10px;
}

.question-count span {
  font-size: 20px;
  color: lightblue;
}

.question-text {
  margin-bottom: 12px;
  border-radius: 20px;
  font-size: 24px;
  color: white;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  width: 100%;
  font-size: 16px;
  color: black;
  background-color: white;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
}
button:hover{
  background-color: #555555;/*black*/
}

.correct {
  background-color: black;
}

.incorrect {
  background-color: red;
}
